body {
   background-color: #E6E6FA;
   color: #191970;
}


#think-id { 
    background-color: #FFFFFF;}


P {            
    background-color: #AEAED4;}

p { 
   background-color: #A6C6DF;}

#blue-id {
    background-color: #D3E5F3}






